@import './spinner.css';

body {
  background-color: white;
  margin: 0;
  font-family: sans-serif;
  color: #444;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Helpers */
.text-center {
  text-align: center;
}

.content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

header h1 {
  padding: 40px 0;
}

/* Countries list */
.list-item {
  padding: 0 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.list-item:last-of-type {
  border-bottom: none;
}

.list-item__headline {
  display: flex;
  padding: 16px 0;
  font-weight: 300;
}

.list-item__icon {
  margin: 0 20px 0 0;
}

.list-item__content {
  padding: 0 45px 20px;
  font-size: 14px;
}

.list-item__label {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: monospace;
  color: #6e6e6e;
}

[data-toggle='open'] section {
  display: block;
}

[data-toggle='closed'] section {
  display: none;
}

[data-toggle] {
  position: relative;
}

[data-toggle]:hover {
  cursor: pointer;
}

[data-toggle]::after {
  position: absolute;
  top: 14px;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  font-weight: 300;
  font-size: 24px;
  color: lightgray;
}

[data-toggle='open']::after {
  content: '\2013';
}

[data-toggle='closed']::after {
  content: '+';
}
