@import './spinner.css';

body {
  background-color: mistyrose;
  margin: 0;
  font-family: sans-serif;
  color: #444;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Helpers */
.text-center {
  text-align: center;
}

.content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

header h1 {
  padding: 40px 0;
}

/* Countries list */
.list-item {
  padding: 0 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.list-item__headline {
  display: flex;
  padding: 16px 0;
}

.list-item__icon {
  margin: 0 20px 0 0;
}
